*.iml
.gradle
build/*
!build/outputs
build/outputs/*
!build/outputs/apk
build/outputs/apk/*
!build/outputs/apk/debug

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
.idea/